@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Times, 'Times New Roman', serif;
}

main {
    border: 2px solid black;
    margin: 20px;
    padding:40px
}

h1 {
    border-top: 3px solid black;
    font-size: 3em;
    font-weight: bolder;
    margin-bottom: 10px;
    padding: 30px 0px;
}

h2 {
    color: green;
    margin-bottom: 10px  0px;
}

h3 {
    color: blue;
    margin: 10px 0px;
}

p{
    line-height: 2em;
}

ul, li {
    list-style-position: inside;
    line-height: 1.5em;
}

li {
    padding-left: 0.3em;
}